.modal__choice {
	margin-bottom: 15px;
	width: 150px;
}

.modal__input {
	width: 150px;
}

.modal__wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	overflow-x: scroll;
	white-space: nowrap;
}

.modal__item {
	padding: 10px 0;
}

.modal__itemText {
	margin-bottom: 10px;
	font-weight: 600;
}
