.map {
	padding: 3% 0;
}

.map__title {
	font-size: 30px;
	text-align: center;
}

.map__content {
	display: flex;
	justify-content: center;
	padding: 2% 0;
}

.map__frame {
	width: 900px;
	height: 600px;
}

.balloon,
.hint {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 80px;
	padding: 0.4rem;
}

.balloon__title,
.hint__title {
	font-size: 15px;
	margin: 0 0 5px 0;
}

.balloon__image,
.hint__image {
	width: 100%;
	object-fit: fill;
}
