.collapse {
	padding: 3% 0;
}

.collapse__title {
	font-size: 30px;
	text-align: center;
}

.collapse__header {
	display: flex;
	justify-content: space-between;
}

.collapse__button {
	margin-bottom: 20px;
}

.collapse__video {
	width: 60%;
	height: 400px;
}

@media screen and (max-width: 992px) {
	.collapse__video {
		width: 80%;
	}
}

@media screen and (max-width: 768px) {
	.collapse__video {
		width: 100%;
		height: 350px;
	}
}

@media screen and (max-width: 480px) {
	.collapse__video {
		height: 200px;
	}
}

@media screen and (max-width: 400px) {
	.collapse__video {
		height: 170px;
	}
}

@media screen and (max-width: 380px) {
	.collapse__video {
		height: 140px;
	}
}
