.journey {
	padding: 3% 0;
}

.journey__content {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.journey__countryPlaces {
	width: 100%;
}

.journey__countryHeader {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.journey__countryTitle {
	font-weight: 700;
	font-size: 20px;
}

.journey__countryWrapper {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 15px;
}

.journey__title {
	font-size: 30px;
	text-align: center;
}

.journey__panel {
	display: flex;
	flex-direction: column;
	padding: 20px;
	margin-bottom: 20px;
	border: 1px solid #d9d9d9;
	border-radius: 8px;
}

.journey__panel_searchAndAdd {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.journey__panel_countrySelect {
	width: 100%;
}

.journey__panelButton {
	margin-left: 20px;
	height: 40px;
}

.journey__panel_checkboxAll {
	border-right: 1px solid #d9d9d9;
	margin-right: 10px;
}

.journey__panelItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 30%;
	margin-top: 20px;
	padding: 0 10px 10px 10px;
	border: 1px solid #d9d9d9;
	border-radius: 8px;
}

.journey__panelItem_title {
	margin-top: 10px;
	font-size: 14px;
}

.journey__panelItem_content {
	width: 100%;
	margin-top: 10px;
}

@media screen and (max-width: 480px) {
	.journey__collapse_content {
		flex-direction: column;
	}
}
