.journey {
	padding: 3% 0;
}

.journey__content {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.journey__title {
	font-size: 30px;
	text-align: center;
}

.journey__panel {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	margin-bottom: 20px;
	border: 1px solid #d9d9d9;
	border-radius: 8px;
}

.journey__panelButton {
	margin-left: 20px;
	height: 40px;
}

.journey__card {
	width: 100%;
	margin-bottom: 30px;
}

.journey__cardTitle {
	display: flex;
	justify-content: space-between;
}

.journey__button_last {
	margin-left: 10px;
}

.journey__collapse {
	margin-bottom: 10px;
}

.journey__collapse_content {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
	.journey__collapse_content {
		flex-direction: column;
	}
}
