.header {
	flex: none;
	padding: 0;
}

.header_wrapper {
	position: sticky;
	top: 0;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header_title {
	color: #fff;
	font-weight: 700;
	font-size: 20px;
}

.header_menu {
	display: flex;
	justify-content: right;
	width: 60%;
}
